<template>
    <div class="app-layout">
        <header class="header">
            <div>
                <img src="../assets/logo.svg" class="img">
                <div>Firma XYZ</div>
            </div>
        </header>

        <NavMenu></NavMenu>
        <router-view />

    </div>
</template>

<style lang="stylus">
    @import '../style/main.styl';
</style>


<!-- scoped czyli tylko dla tego komponentu, nie jest globalnie -->
<style lang="stylus" scoped>

    .header{
        .img{
            width: 64px;
            height: 64px;
        }
    }

</style>

<script>
    import NavMenu from './NavMenu.vue'
    export default {
        components:{
            NavMenu
        },
    }
</script>