<template>
    <main class="faq">
        <h1>Najczęściej zadawane pytania</h1>
        <div class="error" v-if="hasRemoteErrors">
            Problem z wczytaniem pytań
        </div>

        <Loading v-if="remoteDataBusy"></Loading>

        <section class="list">
            <article v-for="question of questionList">
                <h2 v-html="question.title"></h2>
                <p v-html="question.content"></p>
            </article>
        </section>
    </main>
</template>

<script>
    import RemoteData from "../mixins/RemoteData";

    export default {
        mixins: [
            RemoteData({
                questionList: 'questions'
            })
        ],

/*
        data() {
            return {
                questions: [],
                error: null,
                loading: false
            }
        },

        async created(){
            this.loading = true
            try{
                this.questions = await this.$fetch('questions')
            } catch (e) {
                this.error = e
            }
            this.loading = false
        }
        */

        /*async created() {
            this.loading = true

            try {
                const response = await fetch('http://localhost:3000/questions')
                if (response.ok) {
                    this.questions = await response.json()
                } else {
                    throw new Error('error')
                }
            } catch (e) {
                this.loading = e
            }
            this.loading = false


        }*/
    }

</script>
