<template>
    <main class="home">
        <h1>Witaj w naszym Centrum Wsparcia</h1>
        <p>
            Jesteśmy tu aby pomóc. Proszę przeczytaj najpierw nasze <a>F.A.Q</a>,
            jeśli nie znalazdłeś odpowiedzi na pytanie <a>wyślij je do nas</a>
        </p>
    </main>
</template>