<template>
    <main class="login">
        <h1>Zaloguj sie aby kontynuować</h1>
        <SmartForm
            class="form"
            :title="title"
            :operation="operation"
            :valid="valid">
            <FormInput
                name="username"
                v-model="username"
                placeholder="Nazwa uzytkownika" />
            <FormInput
                name="password"
                type="password"
                v-model="password"
                placeholder="Hasło"/>
            <!--
             template w którym sprawdzamy czy nasz tryb to signup
             -->
            <template v-if="mode === 'signup'">
                <FormInput
                    name="verify-password"
                    type="password"
                    v-model="password2"
                    placeholder="Powtórz hasło"
                    :invalid="retypePasswordError" />
                <FormInput
                    name="email"
                    type="email"
                    v-model="email"
                    placeholder="Adres e-mail" />
            </template>

            <template slot="actions">
                <!--
                sprawdza czy tryb to login
                -->
                <template v-if="mode === 'login'">
                    <button
                        type="button"
                        class="secondary"
                        @click="mode = 'signup'">
                        Utwórz nowe konto
                    </button>
                    <button
                        type="submit"
                        :disabled="!valid">
                        Zaloguj się
                    </button>
                </template>
                <template v-else-if="mode === 'signup'">
                    <button
                            type="button"
                            class="secondary"
                            @click="mode = 'login'">
                        Powrót do logowania
                    </button>
                    <button
                            type="submit"
                            :disabled="!valid">
                        Utwórz nowe konto
                    </button>
                </template>
            </template>
        </SmartForm>



    </main>
</template>

<script>

    export default {

        data(){
            return{
                mode: 'login',
                username: '',
                password: '',
                password2: '',
                email: '',
            }
        },


        methods:{
            async operation(){
                await this[this.mode]()
            },
            async login(){
                this.$state.user = await this.$fetch('login',{
                    method: 'POST',
                    body: JSON.stringify({
                        username: this.username,
                        password: this.password
                    })
                })
                //przekazujemy to jako parametr lub jako nie jest zdefiniowane przekierowujemy użytkownika na stronę główną
                this.$router.replace(this.$route.params.wantedRoute || { name: 'home' })
            },
            async signup () {
                await this.$fetch('signup', {
                    //post bo wysyłamy dane
                    method: 'POST',
                    body: JSON.stringify({
                        username: this.username,
                        password: this.password,
                        email: this.email,
                    }),
                })
                this.mode = 'login'
            }
        },


        computed:{
            title(){
                //zmienia się na podstawie switcha, przekazujemy this,mode
                switch(this.mode){
                    //w przypadku kiedy to jest login zwracamy login
                    case 'login': return 'Login'
                    case 'signup': return 'Załóż nowe konto'
                }
            },
            //walidacja
            retypePasswordError(){
                //czy hasła się pokrywają
                return this.password2 && this.password !== this.password2
            },
            signupValid(){
                //sprawdza czy nasz formularz jest wypełniony prawidłowo
                return this.password2 && this.email && !this.retypePasswordError
            },
            valid(){
                //czy nasz tryb jest różny od signup lub wartość walidacji formularza
                return this.username && this.password && (this.mode !== 'signup' || this.signupValid)
            },
        },


    }
</script>

<style lang="stylus" scoped>

.form{
    >>> .content{
        max-width: 400px;

    }
}
</style>