<template>
    <form @submit.prevent="submit">
        <section class="content">
            <h2>{{title}}</h2>
            <slot />

            <div class="actions">
                <slot name="actions" />
            </div>

            <div class="error" v-if="error">{{error}}</div>
        </section>

        <transition name="fade">
            <Loading v-if="busy" class="overlay" />
        </transition>
    </form>
</template>

<script>
    export default {

        methods:{


            //w sytuacji kiedy formularz nie jest prawidłowo wypełniony lub jest zajęty
            //nie wywołujemy żadnej operacji
            //w innym przypadku resetujemy właściwości
            //i wywołujemy włąściwość operation() tak długo jak słowo kluczowe await jest wywoływane
            // jest wywoływna asynchroniczna funkcja, ktora zwraca nam promise

            //jeśli wychwytujemy błąd to wystawiamy wiadomość błędu do właściwości error która jest wyświetlana
            async submit(){
                if(this.valid && !this.busy){
                    this.error = null
                    this.busy = true
                    try{
                        await this.operation()
                    }catch (e) {
                        this.error = e.message
                    }
                    this.busy = false
                }
            }
        },

        data(){
          return{
              error: null,
              busy: false
          }
        },

        props:{
            title:{
                type: String,
                required: true
            },
            operation:{
                type: Function,
                required: true
            },
            valid:{
                type: Boolean,
                required: true
            }
        }
    }
</script>

<style scoped>

</style>