<template>
    <main class="tickets-layout">
        <h1>Zgłoszenia klientów</h1>
    </main>
</template>

<script>
    export default {
        name: "TicketsLayout"
    }
</script>

<style scoped>

</style>